/ {
    // Left encoder
    encoder_1: encoder_1 {
        compatible = "alps,ec11";
        a-gpios = <&gpio1 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; // should this be GPIO_ACTIVE_HIGH?
        b-gpios = <&gpio1 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; // should this be GPIO_ACTIVE_HIGH?
        steps = <80>;
        status = "okay";
     };
 
     // Right encoder
     encoder_2: encoder_2 {
        compatible = "alps,ec11";
        a-gpios = <&pro_micro 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; // should this be GPIO_ACTIVE_HIGH?
        b-gpios = <&gpio1 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; // should this be GPIO_ACTIVE_HIGH?
        steps = <80>;
        status = "okay";
     };
};
